.container {
    display: flex;

    .login-image {
        height: 100vh;
    }

    .form-info {
        width: 60%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}