<app-header [name]="userInfo.name + ' ' + userInfo.lastName" [email]="userInfo.email"></app-header>
<main>
  <section class="profile">
    <div class="profile-card">
      <img src="../../../../assets/images/profile-image.svg" class="profile-image" alt="profile image">
      <div class="profile-card-info">
        <div class="user-info">
          <h5>{{userInfo.name + ' ' + userInfo.lastName}}</h5>
          <small>Brasil</small>
        </div>
        <button (click)="registerProject()">Adicionar projeto</button>
      </div>
    </div>
  </section>
  <section class="projects">
    <h6>Meus Projetos</h6>
    <form [formGroup]="searchFilter">
      <input type="text" formControlName="tag" placeholder="Buscar tags">
    </form>
    <section class="projects-container">
      <app-project-card class="without-project" *ngIf="projects.length === 0"></app-project-card>

      <ng-container *ngIf="projects.length > 0">
        <app-project-card *ngFor="let project of projects" [projectInfo]="project" [userInfo]="userInfo" class="without-project"></app-project-card>
      </ng-container>
    </section>
    <div *ngIf="totalPages > 1" class="pagination-controls">
      <button class="prev-button" [ngClass]="{'hidden': currentPage == 0 }" (click)="previousPage()"></button>
      <button
              *ngFor="let page of numberPagesArray; let i = index"
              class="page-button"
              (click)="changePage(i)"
              [ngClass]="{ 'current-page': currentPage == i, 'hidden': numberPagesArray.length > 5 && i > 4 }"
              [id]="i"
      >
        {{ i + 1 }}
      </button>
      <button class="next-button" [ngClass]="{'hidden': currentPage == totalPages - 1 }" (click)="nextPage()"></button>
    </div>
  </section>
</main>
