.container {
    display: flex;

    .login-image {
        width: 100%;
        max-width: 40%;
        height: 100vh;
        object-fit: cover;
    }

    .form-info {
        width: 60%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        form {
            width: 100%;
            max-width: 550px;
            display: flex;
            flex-direction: column;
            gap: 0.75rem;

            .form-title {
                color: var(--color-principal-80);
            }

            input, button {
                padding: 16px;
                border-radius: 8px;
            }

            button {
                background-color: var(--color-secondary-100);
            }
        }
    }
}