<app-header [name]="userInfo.name + ' ' + userInfo.lastName" [email]="userInfo.email"></app-header>
<main>
  <section class="profile">
    <div class="profile-card">
      <img src="../../../../assets/images/profile-image.svg" class="profile-image" alt="profile image">
      <div class="profile-card-info">
        <div class="user-info">
          <h5>{{userInfo.name + ' ' + userInfo.lastName}}</h5>
          <small>Brasil</small>
        </div>
        <button (click)="registerProject()">Adicionar projeto</button>
      </div>
    </div>
  </section>
  <section class="projects">
    <h6>Meus Projetos</h6>
    <form [formGroup]="searchFilter">
      <input type="text" formControlName="tag" placeholder="Buscar tags">
    </form>
    <section class="projects-container">
      <app-project-card class="without-project"></app-project-card>
    </section>
  </section>
</main>
