<header>
  <div class="menu-container">
    <div class="menu-hamburguer-container">
      <div class="menu-hamburguer-image" (click)="dropdown()" *ngIf="viewSize <= 768">
        <img src="../../../assets/icons/hamburguer-menu-icon.svg" alt="menu hamburguer icon" #openMenu>
      </div>
      <div [ngClass]="viewSize <= 768 ? 'menu-dropdown-container' : 'menu-dropdown-container-desktop'" #dropdownMenu>
        <nav class="menu-dropdown">
          <ul class="menu-dropdown-list">
            <li>
              <p>{{name}}</p>
              <p class="light-color">{{email}}</p>
            </li>
            <hr>
            <li><p>Meus Projetos</p></li>
            <li><p>Descobrir</p></li>
            <hr>
            <li>
              <img class="logout-icon" src="../../../assets/icons/logout-icon.svg" alt="Logout icon">
              <span>Sair</span>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <img src="../../../assets/images/header-logo.svg" alt="orange portfolio logo">
    <nav *ngIf="viewSize > 768">
      <ul>
        <li>Meus projetos</li>
        <li>Descobrir</li>
      </ul>
    </nav>
  </div>
  <div class="container-profile">
    <img class="profile-image" src="../../../assets/images/profile-image.svg" alt="profile image" (click)="dropdown()" #openMenu>
    <img src="../../../assets/icons/Icon-notifications.svg" alt="notifications icon">
  </div>
</header>



