header {
  display: flex;
  justify-content: space-between;

  padding: 16px 30px 16px 30px;
  background-color: var(--color-principal-100);

  .menu-container {
    display: flex;
    align-items: center;

    .menu-hamburguer-image {
      cursor: pointer;

      img {
        width: 24px;
      }
    }

    nav ul {
      display: flex;
      gap: 24px;

      margin: 0;

      li {
        display: inline-block;

        font-size: 20px;
        color: var(--color-neutral-60);
      }
    }
  }

  .menu-dropdown-container, .menu-dropdown-container-desktop {

    width: 100%;
    max-width: 220px;

    background-color: var(--color-neutral-60);
    border-radius: 0 4px 4px 4px;

    .menu-dropdown {
      .menu-dropdown-list {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 0;
        border: 1px solid var(--color-neutral-80);

        hr, li, p {
          margin: 0;
        }

        li {
          font-size: 14px;
          padding: 8px 8px 8px 8px;
          cursor: pointer;

          p, span {
            color: var(--color-neutral-130);
          }

          span {
            padding-left: 4px;
          }

          .light-color {
            color: var(--color-neutral-120);
          }

          .logout-icon {
            width: 24px;
          }
        }
      }
    }

  }

  .menu-dropdown-container {
    display: none;
    position: fixed;
    top: 73px;
    left: 0;
  }

  .menu-dropdown-container-desktop {
    display: none;
    position: fixed;
    top: 73px;
    right: 0;
  }

  .container-profile {
    display: flex;
    gap: 16px;

    .profile-image {
      border-radius: 300px;
    }
  }
}


@media(max-width: 768px) {
  header {
    .menu-container {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
}
