<section>
  <form [formGroup]="registerProjectForm">
    <h5>Adicionar projeto</h5>
    <div class="project-info-container">
      <div class="project-image">
        <p>Selecione o conteúdo que você deseja fazer upload</p>
        <label for="file-upload" class="custom-file-upload">
          <img src="../../../assets/icons/collections.png" alt="project image" *ngIf="registerProjectForm.get('image')?.value === null">
          <small *ngIf="registerProjectForm.get('image')?.value === null">Compartilhe seu talento com milhares de pessoas</small>
          <img src="" alt="project image" class="preview-project-image" #previewProject *ngIf="registerProjectForm.get('image')?.value !== null">
        </label>
        <input id="file-upload" type="file" #filePicker (change)="onImagePicked($event)" accept="mage/png, image/jpeg"/>
        <p class="preview-project-link">Visualizar publicação</p>
      </div>
      <div class="project-info">
        <input type="text" placeholder="Título" formControlName="title" (change)="onTitleChange($event)">
        <ng-multiselect-dropdown
          [placeholder]="'Tags'"
          [settings]="dropdownSettings"
          [data]="dropdownList"
          (onSelect)="onItemSelect($event)"
          (onDeSelect)="onIntemDeSelect($event)"
        >
        </ng-multiselect-dropdown>
        <input type="text" placeholder="Link" formControlName="link" (change)="onLinkChange($event)">
        <textarea placeholder="Descrição" formControlName="description" (change)="onDescriptionChange($event)"></textarea>
      </div>
    </div>
    <div class="button-container">
      <button type="button" id="save-button" (click)="registerProject()">Salvar</button>
      <button type="button" (click)="bsModalRef.hide()">Cancelar</button>
    </div>
  </form>
</section>
