<section>
  <form>
    <h5>Adicionar projeto</h5>
    <div class="project-info-container">
      <div class="project-image">
        <p>Selecione o conteúdo que você deseja fazer upload</p>
        <label for="file-upload" class="custom-file-upload">
          <img src="../../../assets/icons/collections.png" alt="">
          <small>Compartilhe seu talento com milhares de pessoas</small>
        </label>
        <input id="file-upload" type="file" />
      </div>
      <div class="project-info">
        <input type="text" placeholder="Título">
        <input type="text" placeholder="Tags">
        <input type="text" placeholder="Link">
        <textarea placeholder="Descrição"></textarea>
      </div>
    </div>
    <div class="button-container">
      <button type="submit" id="save-button">Salvar</button>
      <button type="button">Cancelar</button>
    </div>
  </form>
</section>
