.container-home {
    display: flex;

    .login-image {
        width: 100%;
        max-width: 40%;
        height: 100vh;
        object-fit: cover;
    }

    .form-info {
        width: 60%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 32px;

        .google-button {
            display: flex;
            align-items: center;
            gap: 16px;

            background-color: white;
            padding: 8px;
            border: 1px solid var(--color-neutral-80);

            cursor: pointer;

            img {
                width: 30px;
                height: 24px;
                object-fit: cover;
            }
        }

        form {
            width: 100%;
            max-width: 550px;
            display: flex;
            flex-direction: column;
            gap: 0.75rem;

            .form-title {
                color: var(--color-neutral-100);
                font-weight: 400;
            }

            input, button {
                padding: 16px;
                border-radius: 8px;
            }

            .input-wrapper {
              min-height: 82px;
            }

            input {
              width: 100%;
              font-size: 16px;
              border: 1px solid var(--color-neutral-80);
            }

            input:focus {
              outline: none;
            }

            .invalid-input {
              border-color: var(--color-error-100);
            }

            .valid-input {
              border-color: var(--color-neutral-80);
            }

            button {
                color: var(--color-neutral-70);
                text-transform: uppercase;
                font-size: 15px;

                background-color: var(--color-secondary-100);
                border: none;

                cursor: pointer;
            }

            .enroll-link {
                color: var(--color-neutral-100);
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}


@media(max-width: 1023px) {
  .container-home {

    display: flex;
    align-items: center;

    height: 100vh;

    .login-image {
      display: none;
    }

    .form-info {
      width: 100%;
      padding: 16px;


      form {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

    }

    }
  }

}

@media(max-width: 767px) {
  .container-home {

    .form-info {
      width: 100%;
      padding: 16px;

      h3 {
        font-size: 32px !important;
      }

    }
  }

}

@media(max-width: 400px) {
  .container-home {

    .form-info {
      width: 100%;
      padding: 16px;

      h3 {
        font-size: 24px !important;
      }

    }
  }

}
