* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Roboto", sans-serif;
}

:root {
    --color-principal-70: #EDEFF2;
    --color-principal-80: #444466;
    --color-principal-90: #222244;
    --color-principal-100: #111133;

    --color-secondary-100: #FF5522;

    --color-neutral-60: #FCFDFF;
    --color-neutral-70: #E6E9F2;
    --color-neutral-80: #C2C4CC;
    --color-neutral-100: #818388;
    --color-neutral-110: #515255;
    --color-neutral-120: #303133;
    --color-neutral-130: #0B0C0D;

    --color-success-110: #118822;

    --color-error-110: #DD0000;
    --color-error-100: #DD0000;
}

h1 {
    font-size: 6rem !important;
}

h2 {
    font-size: 3.75rem !important;
}

h3 {
    font-size: 3rem !important;
}

h4 {
    font-size: 2.125rem !important;
}


h5 {
    font-size: 1.5rem !important;
}

h6 {
    font-size: 1.25rem !important;
}

.modal-open {
  .modal {
    .modal-dialog {
      max-width: 900px;
      margin-top: 150px;
      padding: 0 24px;

      &:has(app-modal-register-project) {
        padding: 0;
      }

      &:has(app-modal-success-message) {
        margin: 190px auto;
        padding: 0;
        max-width: 350px
      }

      &:has(app-delete-project-modal) {
        margin: 295px auto;
        padding: 0;
        max-width: 420px;
      }

      &:has(app-posted-project-modal) {
        margin: 134px auto;
        max-width: 1042px;
        padding: 0;
      }
    }
  }
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.dropdown-btn {
  border: none !important;
  padding: 0 !important;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: var(--color-neutral-100);
}

.dropdown-multiselect__caret {
  display: none !important;
}

.selected-item {
  background-color: var(--color-neutral-100) !important;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";


